.header-wrapper {
  width: 100%;

  background-image: url("../images/banner.jpg");
  background-size: cover;
  overflow: hidden;
  height: 900px;
  h2 {
    font-size: 1rem;
    text-align: center;
    @include media(">=phone", "<lgphone") {
      font-size: 14px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 16px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 16px;
    }
  }
  .header-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    .heading-wrapper {
      h1 {
        font-size: 4rem;
        text-align: center;
        line-height: 15px;

        @include media(">=phone", "<lgphone") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=lgphone", "<tablet") {
          font-size: 1.5rem;
          line-height: 10px;
        }
        @include media(">=tablet", "<desktop") {
          font-size: 2.5rem;
        }
      }
    }
  }
  p {
    width: 50%;
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
    }
  }
}

.headerLogo {
  width: 240px;
  margin: auto;
  display: block;
}

#home {
  margin-top: -2vh;
}
